{{- if .Values.ingressRoute.enabled }}
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {{ include "static-web.fullname" . }}-ingressroute
spec:
  entryPoints:
  - web
  routes:
  - match: Host(`{{ .Values.ingressRoute.host}}`)"
    kind: Rule
    services:
    - name: {{ include "static-web.fullname" . }}
      port: http
{{- end }}